<a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
    <i class="icon-bell"></i>
    {% if notifications|length > 0 %}
        <span class="notification-dot"></span>
    {% endif %}
</a>
<ul id="notification_list" class="dropdown-menu notifications animated shake">
    <li class="header"><strong>Você tem {{ notifications|length }} notificações não lidas</strong></li>

    {% for notification in notifications|slice(0,4) %}
        <li>
            <a href="javascript:void(0);">
                <div class="media">
                    <div class="media-left">
                        <a class="text-success m-r-5" href="javascript:alert();"><i class="fa fa-check-circle"></i></a>
                    </div>
                    <div class="media-body">
                        <span class="timestamp">Agendado para {{ notification.scheduledAt|date('d/m/Y H:i') }}h</span>
                        <p class="text">
                            {{ notification.descricao }}
                        </p>
                    </div>
                </div>
            </a>
        </li>   
    {% endfor %}
    <li class="footer"><a href="{{ path('notification') }}" class="more">Ver todas as notificações</a></li>
</ul>