<div class="row clearfix mb-4">
    <div class="col-lg-3 col-sm-12">
        <select class="form-control redraw-data-table" id="filtro_vendedor" name="filtro_vendedor">
            <option value="">Qualquer vendedor</option>
            {% for vendedor in vendedores %}
                <option value="{{ vendedor.id }}">{{ vendedor.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-lg-3 col-sm-12">
        <select class="form-control redraw-data-table" id="filtro_transportadora" name="filtro_transportadora">
            <option value="">Qualquer transportadora</option>
            {% for transp in transportadoras %}
                <option value="{{ transp.id }}">{{ transp.razaoSocial }}</option>
            {% endfor %}
        </select>
    </div>
</div>