{% extends 'base.html.twig' %}

{% block body %}


    <div class="jumbotron bg-white m-b-20">
        <h1>Olá</h1>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>

    $(document).ready(function(){

    

    });

    </script>

{% endblock %}
